@model List<AppointmentDTO>
@{
    ViewData["Title"] = "Main Dashboard";
}



<div class="row mt=3">
    <div class="col-lg-6 mt-lg-4">
        <h3>Your Appointements</h3>
        @*Current Logged in user appointsment*@

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Address</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            {
                <tr >
                    <td>@item.Time</td>
                    <td>@item.Listing.ToString()</td>
                </tr>      
                }
        </tbody>
    </table>
    </div>
    
    <div class=" col-lg-5 mt-lg-4 ml-md-3">

        <h3>Management</h3>
        @*Section Links*@
        <div class="row">
            <ul class="list-unstyled">
                <li class="mb-md-2">
                    <a type="button" class=" btn btn-lg btn-outline-info" asp-controller="Event" asp-action="Index">Events</a>
                </li>
                <li class="mb-md-2">
                    <a type="button" class=" btn btn-lg  btn-outline-info" asp-controller="Appointment" asp-action="Index"> Appointments</a>
                </li>
                <li class="mb-md-2">
                    <a type="button" class="btn btn-lg btn-outline-info" asp-controller="Listing" asp-action="Index">  Listings </a>
                </li>
                <li class="mb-md-2">
                    <a type="button" class="btn btn-lg btn-outline-info" asp-controller="Service" asp-action="Index"> Services</a>
                </li>
                <li class="mb-md-2">
                    <a type="button" class="btn btn-lg btn-outline-info" asp-controller="Address" asp-action="Index">Address</a>
                </li>
               
                <li class="mb-md-2">
                    <a type="button" class="btn btn-lg btn-outline-info" asp-controller="Ticket" asp-action="Index">Tickets</a>
                </li>

            </ul>

        </div>
    </div>

</div>