@model CreateAppointmentDTO
@using CordEstates.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "Appointment Create";
}

<h1>Appointment Create</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Select Address</label>
                <select asp-for="ListingId" class="form-control" asp-items="ViewBag.Listing"></select>
                <span asp-validation-for="ListingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


