<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://wwww.nlog-project.org/schemas/nlog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="C:\Projects\SEP_Module\CordEstates\internal_logs\internalLog.txt" >


    <targets>
      <target name="file" xsi:type="File"
          layout="${longdate} ${logger} ${message}${exception:format=ToString}"
          fileName="C:\Projects\SEP_Module\CordEstates\internal_logs\${cached:${date:format=yyyy-MM-dd HH_mm_ss}}.log"
          archiveFileName="${basedir}/{#}.log"
          archiveDateFormat="yyyy-MM-dd HH_mm_ss"
          archiveNumbering="Date"
          archiveEvery="Hour"
           />
    </targets>
   

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile"/>
  </rules>
</nlog>
