@model IEnumerable<PhotoDTO>

@{
    ViewData["Title"] = "Photo Management";
}

    <h1>Photo Management Dashboard</h1>
    @*todo change to view all images*@
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageLink)
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImageLink)
            </td>
            <td>
                <img width="100" height="100" src="~/@item.ImageLink" />
            </td>
            <td>              
               
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            
            </td>
        </tr>
}
    </tbody>
</table>
